html, body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.barcode-input {
    border: .25rem solid #eee;
    padding: .5rem 1rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 2rem;
    box-sizing: border-box;
}

.saludo {
    font-size: 2rem;
}

.notebook-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    gap: .5rem;
    background-color: #eee;
    border-radius: 2rem;
    flex-grow: 1;
    overflow: scroll;
    width: 50%;
}

.notebook-list li {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 1rem;
}